@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

/* Hide scrollbar for main content */
.hide-main-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.hide-main-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Ensure the table is still scrollable */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: scroll; /* Enable horizontal scroll */
  overflow-y: scroll; /* Enable vertical scroll */
}

/* Ensure the container is scrollable */
.form-container {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 100px; /* Add space for the keyboard */
}

/* Ensure the inputs take up the full width */
form input,
form textarea {
  width: 100%;
}
